<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title></title>
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">APA Citation Generator</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
              <div class="row">
                  <div class="col-md-4">
                    <h1>Enter titles or DOIs</h1>
                    <br />

                    <form class="form doi-form" id="doiForm">
                      <div class="form-group">
                        <textarea class="form-control" id="doi" rows="15" placeholder="Seperate entries by newline" style="width: 300px;"></textarea>
                      </div>
                        <div class="form-group">
                              <select id="selectStyle" class="form-control">
                              <option>APA</option>
                              <option>MLA</option>
                              <option>AMA</option>
                              <option>Chicago</option>
                              <option>Turabian</option>
                            </select>
                            <a id="go" class="btn btn-default">Format</a>
                        </div>
                    </form>
                  </div>
                  <div class="col-md-8">
                      <div id="citations"></div>
                  </div>
              </div>
          </div>


        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
		  $("#go").click(function(){
          $('#go').addClass("disabled");
          data = {
              "doi": $("#doi").val(),
              "style": $("#selectStyle option:selected").val()
          }
          $.ajax({
                type: "POST",
                url: "/citation_generator",
                data: JSON.stringify(data, null, '\t'),
                contentType: 'application/json;charset=UTF-8',
                success: function(result) {
                  $("#citations").addClass("citations");
                  $("#citations").prepend($('<p>'+result+'</p>').fadeIn('fast'));
                  $("textarea#doi").val("");
                  $('#go').removeClass("disabled");
                },
                error: function(e) {
                    $('#go').removeClass("disabled");
                    console.log("Error: " + e);
                }
            });
		    });
	</script>
  </body>
</html>

